.cardDocumentaries {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    gap: 30px; /* Espacio de 30px entre tarjetas hacia los lados y hacia abajo */
}

